
@{
    ViewBag.Title = "Privacy_Policy";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<head>

</head>

<body>

    <!--====== BREADCRUMB PART START ======-->
    <section class="breadcrumb-area" style="background-image: url(assets/img/bg/04.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <span>MULTIVENDOR</span>
                <h2 class="page-title">Legal</h2>
                <ul class="breadcrumb-nav">
                    <li><a href="/Home/Index">Home</a></li>
                    <li class="active">Legal</li>
                </ul>
            </div>
        </div>
    </section>
    <!--====== BREADCRUMB PART END ======-->
    <!--====== LEGAL PART START ======-->
    <section class="legal-section pt-115 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="legal-wrapper">
                        <div class="legal-content">
                            <h3>Who Are We</h3>
                            <p>Our website is: http://www.Dthahab.com</p><br />
                            <p>

                                All Gold Shops under in one App.
                                Through Dekakeen Thahab, you can shop all new designs and gold fashions through our approved gold stores.
                                All Gold details as Gold Weight, Size and Caliber can be viewed through item details.
                                All Gold Prices are updated using Daily Gold Pricing.


                            </p>
                        </div>
                        <div class="legal-content">
                            <h3>Privacy Policy</h3>

                            <p>

                                Terms and Conditions

                                - the introduction
                                - How to use the application
                                User posts
                                - Products and the role of the application owner and merchant.
                                - Approval of orders and pricing
                                - You can't sell it from selling it.
                                Trademarks and copyrights

                                Law enforcement and the judiciary
                                - Arbitration
                                The annulment process


                                We welcome you to the Dakakin Dahab application ("Dikakeen Thahab")! These Terms and Conditions (“Terms and Conditions”) apply to the Application and the Owning Company in the Middle East Africa region as well as all of its divisions, subsidiaries and affiliated websites that refer to these Terms and Conditions as a safe reference.
                                Our valued guest, your visit, provides your acceptance of the terms and conditions. If you do not agree to it, you should not use this application. The application reserves the right to change parts of the terms and conditions, amend them, add some of them, or remove them at any time. When it is voted on without prior notice. Please check the Terms of Use and Conditions regularly for updates. Your use constitutes your full acceptance of all changes to the Terms and Conditions.

                                Honorable guest, the supervision of a parent or legal guardian is valued.
                                See license terms and conditions. The purpose of this license is to shop for personal items sold on the App. Use in the name of the use in the name of another party, what we prevented us from using, and transparency in advance. Causes to wait until you have finished an immediate wait.
                                The content is covered for commercial purposes. Clarifications that appear in the event that a viewing is offered to those who are entitled to offer satisfactory products for sale. Opinions about their opinion are returned to the opinions of those who indicate their opinion on their post.
                                Related services and facilities that may be available upon registration or request. At your choice to register or contact to provide accurate and current information about yourself and to promptly update it if any communications arise. An average user tolerates soup. The percentage of responsibility rests with the account holder for all activities that occur under his password or within his account. In addition, you should be charged for unauthorized use of your password or account. Finally, this application is not responsible in any way for any loss or damage.
                                During the registration process, you agree to receive promotional emails from us. and gave the opportunity to receive promotional emails.

                                become our sole and exclusive property, and in no way cease to be your property. . In addition to the rights that apply to any type of post, article promotion, we reviewed your comments or other additions. A commercial file registered in a commercial file. We may remove or modify any of the posts, but we are not obligated to do so.

                                Refer the owner of the application to the image to the image attached to the application.

                                Please note that in some cases, an order may not be approved for several reasons. Refuse or cancel for any reason. The application for approval of the application for additional fees or installations, including, to obtain the power to obtain energy, a phone number and address.

                                We intend to provide the most accurate pricing information to all who visit. It seems that some errors sometimes, sometimes recoup your accounting costs. As such, we reserve the right, to refuse or cancel any such orders. Report a report from an informal body. It has been previously rejected or rejected.

                                All intellectual property rights, whether registered or designed in the application, are deemed to be property, including but not limited to, text, graphics, images, video, music, sound, audio, and their design and coordination, all of which are placed by them. Software, software code and mass software. Copyright is part of copyright

                            </p>

                        </div>
                        

                        <div class="legal-content">
                            <h3>How Do We Store Your Data</h3>
                            <p>
                                At our website, we take the privacy and security of your personal data very seriously. We understand that you may have concerns about how we collect, store, and use your information, so we want to be transparent about our practices.
                            </p>
                            
                                <br />
                                Types of Data We Collect:
                                <br />
                            <p>    
                            We collect various types of data from our users, such as name, email address, phone number, and any other information required to provide our services. This information may be collected through forms on our Mobile Apps/website or through interactions with our support team.
                            </p>
                                <br />
                                Purpose of Data Collection:
                                <br />
                            <p>    
                            We collect your data for the sole purpose of fulfilling our services to you. This may include processing your orders, providing customer support, or sending marketing messages. We only use your data for these specific purposes and do not share it with any third-party without your consent.
                            </p>
                                <br />
                                Security Measures:
                                <br />
                            <p>
                                We use industry-standard security measures to keep your data safe and secure. Our website is protected by SSL encryption, and we use firewalls and access controls to prevent unauthorized access to your data. We regularly monitor our systems for any potential security breaches and take immediate action if any issues arise.
                            </p>
                                <br />
                                User Rights:
                                <br />
                            <p>
                                You have the right to access, correct, or delete your personal data. You can contact us at any time to request access to your data, make corrections or ask us to delete it from our systems.
                            </p>    
                            <br />
                            <p>
                                In summary, we take every precaution to ensure that your data is stored securely and used only for the purpose for which it was collected. We value your privacy and will always treat your personal information with the utmost care and respect. If you have any further questions or concerns, please do not hesitate to contact us.
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar mb-0">
                        <!-- Search Widget -->
                        <div class="widget search-widget mb-40">
                            <h5 class="widget-title">Search Objects</h5>
                            <form action="#">
                                <input type="text" placeholder="Search your keyword...">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Popular Post Widget -->
                        <div class="widget popular-feeds mb-40">
                            <h5 class="widget-title">Popular Feeds</h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-img">
                                        <img src="/Content/assets/img/recent-post-wid/04.png" alt="Image">
                                    </div>
                                    <div class="feed-desc">
                                        <h6><a href="#">How Are Colored Diamonds Formed?</a></h6>
                                        <span class="time"><i class="far fa-calendar-alt"></i> 24th March 2022</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-img">
                                        <img src="/Content/assets/img/recent-post-wid/05.png" alt="Image">
                                    </div>
                                    <div class="feed-desc">
                                        <h6><a href="#">How Are Colored Diamonds Formed?</a></h6>
                                        <span class="time"><i class="far fa-calendar-alt"></i> 24th March 2022</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-img">
                                        <img src="/Content/assets/img/recent-post-wid/06.png" alt="Image">
                                    </div>
                                    <div class="feed-desc">
                                        <h6><a href="#">How Are Colored Diamonds Formed?</a></h6>
                                        <span class="time"><i class="far fa-calendar-alt"></i> 24th March 2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Categories Widget -->
                        <div class="widget categories-widget mb-40">
                            <h5 class="widget-title">Categories</h5>
                            <ul>
                                <li>
                                    <a href="#">Bracelets<span>26</span></a>
                                </li>
                                <li>
                                    <a href="#">Rings<span>26</span></a>
                                </li>
                                <li>
                                    <a href="#">Silver Bracelet<span>26</span></a>
                                </li>
                                <li>
                                    <a href="#">Necklace<span>26</span></a>
                                </li>
                                <li>
                                    <a href="#">Earrings<span>26</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Social Icon Widget -->
                        <div class="widget socail-widget">
                            <h5 class="widget-title">Never Miss News</h5>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== LEGAL PART END ======-->
    <!--====== INSTAGRAM FEED PART START ======-->
    <div class="instagram-feed-section">
        <div class="container-fluid p-0">
            <div class="instagram-slider">
                <div class="image">
                    <a href="/Content/assets/img/instagram/01.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/01.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/02.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/02.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/03.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/03.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/04.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/04.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/05.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/05.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/06.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/06.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/01.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/01.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/02.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/02.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/03.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/03.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/04.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/04.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/05.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/05.jpg" alt="instagram-feed">
                    </a>
                </div>
                <div class="image">
                    <a href="/Content/assets/img/instagram/06.jpg" class="insta-popup">
                        <img src="/Content/assets/img/instagram/06.jpg" alt="instagram-feed">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--====== INSTAGRAM FEED PART END ======-->
    <!--====== Back to Top ======-->
    <a href="#" class="back-to-top" id="backToTop">
        <i class="fal fa-angle-double-up"></i>
    </a>
    <!--====== FOOTER PART START ======-->
    <footer>
        <div class="footer-subscibe-area pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="subscribe-text text-center">
                            <div class="footer-logo mb-45">
                                <img src="/Content/assets/img/logo-2.png" alt="images">
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doing
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi.
                            </p>
                            <form action="#" class="subscribe-form mt-50">
                                <input type="email" placeholder="Enter your email address">
                                <button type="submit">subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area pt-20 pb-20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 order-2 order-md-1">
                        <p class="copyright-text">copyright by@DIKAKEEN THAHAB</p>
                    </div>
                    <div class="col-md-7 order-1 order-md-2">
                        <div class="social-links">
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-behance"></i></a>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--====== FOOTER PART END ======-->

    <!--====== Modal Popup Start ======-->
    <!-- The Modal -->
    <div class="modal fade on-load-modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-image: url(/Contact/assets/img/popup.jpg)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close popup-trigger" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-inner">
                        <h3 class="title">Newsletter</h3>
                        <p>Subscribe to our newsletter to recieve exclusive offers</p>
                        <form>
                            <input type="email" placeholder="Email Address" name="email" value="">
                            <button type="submit" class="main-btn btn-filled" name="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Modal Popup End ======-->
    <!--====== jquery js ======-->
    <script src="/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="/Contentassets/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="/Content/assets/js/slick.min.js"></script>
    <!--====== Isotope js ======-->
    <script src="/Content/assets/js/isotope.pkgd.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== inview js ======-->
    <script src="/Content/assets/js/jquery.inview.min.js"></script>
    <!--====== counterup js ======-->
    <script src="/Content/assets/js/jquery.countTo.js"></script>
    <!--====== Nice Select ======-->
    <script src="/Content/assets/js/jquery.nice-select.min.js"></script>
    <!--====== Bootstrap datepicker ======-->
    <script src="/Content/assets/js/bootstrap-datepicker.js"></script>
    <!--====== Ion Rangeslider ======-->
    <script src="/Content/assets/js/ion.rangeSlider.min.js"></script>
    <!--====== Jquery Countdown ======-->
    <script src="/Content/assets/js/jquery.countdown.min.js"></script>
    <!--====== Wow JS ======-->
    <script src="/Content/assets/js/wow.min.js"></script>
    <!--====== Mapbox Map ======-->
    <script src="/Content/assets/js/leaflet.js"></script>
    <script src="/Content/assets/js/mapbox-gl.min.js"></script>
    <script src="/Content/assets/js/map.js"></script>
    <!--====== Main js ======-->
    <script src="/Content/assets/js/main.js"></script>

</body>
