<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)

        <!--====== Required meta tags ======-->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!--====== Title ======-->
        <title> Laramiss Home Page One </title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href=@Url.Content("/Content/assets/img/favicon.ico") />
        <!--====== Animate Css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/animate.min.css") />
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/bootstrap.min.css") />
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/font-awesome.min.css") />
        <!--====== Flaticon css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/flaticon.css") />
        <link rel="stylesheet" href=@Url.Content("/Content/assets/fonts/flaticon/flaticon-2.css") />
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/magnific-popup.css") />
        <!--====== Owl Carousel css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/slick.css") />
        <!--====== Nice Select ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/nice-select.css") />
        <!--====== Mapbox ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/leaflet.css") />
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/mapbox-gl.min.css") />
        <!--====== Bootstrap Datepicker ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/bootstrap-datepicker.css") />
        <!--====== Ion Rangeslider ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/ion.rangeSlider.min.css") />
        <!--====== Default css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/default.css") />
        <!--====== Style css ======-->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/style.css") />

    </head>
    <body>


        <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
        <!--====== PRELOader ======-->
        <div class="preloader">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
            <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z"
                  fill="#ffffff" />
            <path class="diamond-spark spark-1"
                  d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
            <path class="diamond-spark spark-2"
                  d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
            <path class="diamond-spark spark-3"
                  d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
            <path class="diamond-spark spark-4"
                  d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
    </svg>
        </div>

        <!--====== HEADER START ======-->
        <header class="header-three header-absolute sticky-header sigma-header">
            <div class="header-top">
                <div class="container-fluid container-custom-three">
                    <div class="d-md-flex align-items-center justify-content-between">
                        <p class="welcome-text">Free Shipping On All Domestic Orders</p>
                        <ul class="header-top-info">
                            <li>
                                <i class="fal fa-Clock"> </i>
                                Mon - Sat 9.00 - 18.00
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-menu-area sticky-header">
                <div class="container-fluid container-custom-three">
                    <div class="nav-container d-flex align-items-center justify-content-between">
                        <!-- Site Logo -->
                        <div class="site-logo site-logo-text">
                            <a href="index.html">
                                
                                <!--svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                                <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z"
                                      fill="#ffffff" />
                                <path class="diamond-spark spark-1"
                                      d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-2"
                                      d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-3"
                                      d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-4"
                                      d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
                                </svg-->

                                <div class="site-logo-text">
                                    <h3>DIKAKEEN</h3>
                                    <h6>THAHAB</h6>
                                </div>
                            </a>
                        </div>
                        <!-- Main Menu -->
                        <div class="nav-menu d-lg-flex align-items-center justify-content-between">
                            <!-- Navbar Close Icon -->
                            <div class="navbar-close">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Mneu Items -->
                            <div class="sigma-header-nav">
                                <div class="container">
                                    <div class="sigma-header-nav-inner">
                                        <nav>
                                            <ul class="sigma-main-menu">
                                                <li class="menu-item">
                                                    <a href="/Home/Index">
                                                        Home
                                                    </a>
                                                </li>

                                                <li class="menu-item">
                                                    <a href="/About/Index">
                                                        About
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/ContactUS/Index">
                                                        Contact
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/Legal/Privacy_Policy">
                                                        Privacy policy
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="http://dthahab.com/rate/index">
                                                        Gorld rate
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- navbar right content -->
                        <div class="menu-right-buttons">
                            <!-- Log in icon -->

                            <!-- Off canvas Toggle -->
                            <div class="toggle">
                                <a href="#" id="offCanvasBtn"><i class="fal fa-bars"></i></a>
                            </div>

                            <!-- Navbar Toggler -->
                            <div class="navbar-toggler">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Header Start -->
            <div class="sigma-mobile-header">
                <div class="container">
                    <div class="sigma-mobile-header-inner">
                        <!-- Site Logo -->
                        <div class="site-logo site-logo-text">
                            <a href="index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                                <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z"
                                      fill="#ffffff" />
                                <path class="diamond-spark spark-1"
                                      d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-2"
                                      d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-3"
                                      d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                                <path class="diamond-spark spark-4"
                                      d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
              </svg>
                                <div class="site-logo-text">
                                    <h3>DIKAKEEN</h3>
                                    <h6>THAHAB</h6>
                                </div>
                            </a>
                        </div>
                        <div class="sigma-hamburger-menu">
                            <div class="sigma-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Header End -->
            <!-- Mobile Menu Start -->
            <aside class="sigma-mobile-menu">
                <ul class="sigma-main-menu">

                    <li class="menu-item">
                        <a href="Index">
                            Home
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="About/Index">
                            About
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="shop-left.html">
                            Contact
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="shop-left.html">
                            Privacy policy
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="shop-left.html">
                            Gold rate
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- Mobile Menu End -->
        </header>
        <!--====== HEADER PART END ======-->
        <!--====== OFF CANVAS START ======-->
        <div class="offcanvas-wrapper">
            <div class="offcanvas-overly"></div>
            <div class="offcanvas-widget">
                <a href="#" class="offcanvas-close"><i class="fal fa-times"></i></a>
                
                <!-- About Widget -->
                <div class="widget about-widget">
                    <h5 class="widget-title">About us</h5>
                    <p>Dakakin Dahab application is a clear application from its title
It brings you everything related to gold shops in one place
Through the application of gold stores, you can shop and see the latest designs and designs of gold pieces from approved gold stores while you are at home.
It's easy
Download the app
Browse offers, gold shops, and the latest gold coins added
Or choose your favorite gold store from the Shops page
You can view gold coins according to their rating from the ratings page.
You will find all the gold details in detail for the same piece of karat, weight and price associated with the daily gold price.
The ordering process is easy
After you choose the widget
Enter the shopping cart and register via Google or Facebook, or register your details for the first time.
Complete the purchase process and choose the address to which we would like the item to be delivered.
After payment, you can see the details of the delivery process for the piece you have chosen.

Dakakin Dahab application, you can watch the gold market with the size of your phone.</p>
                </div>
                <!-- Nav Widget -->
                <div class="widget nav-widget">
                    <h5 class="widget-title">Our pages</h5>
                    <ul>
                        <li>
                            <a href="About/Index">About Us</a>
                        </li>
                        <li>
                            <a href="classification.html">Gold rate</a>
                        </li>

                        <li>
                            <a href="team.html">Privacy policy</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- Social Link -->
                <div class="widget social-link">
                    <h5 class="widget-title">Contact with us</h5>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dikakeen_thahab/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--====== OFF CANVAS END ======-->

        @RenderBody()




    </body>
</html>
